name: Code Coverage with Codecov

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  Coverage:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18.7

    - name: GO test
      run: |
        go test ./... -short -race -timeout=3m -covermode=atomic -coverprofile=coverage.out

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
